{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always"
}
