/* Open nav stuff */
.nav .open > a {
  background-color: transparent;
}

.nav .open > a:hover {
  background-color: transparent;
}

.nav .open > a:focus {
  background-color: transparent;
}

.navbar {
  padding: 0;
}

/* Wrappers */
#sidebar-wrapper {
  background: #1a1a1a;
  height: calc(100vh - 1.3rem);
  overflow-x: hidden;
  overflow-y: auto;
  width: 5rem;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

/* Sidebar nav styles */
.sidebar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 5rem;
}

.sidebar-nav li {
  display: inline-block;
  line-height: 20px;
  position: relative;
  width: 100%;
}

.sidebar-nav li:before {
  background-color: #1c1c1c;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}

.sidebar-nav li:hover:before {
  background-color: #2196F3;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 100%;
}

.sidebar-nav li a {
  color: #dddddd;
  display: block;
  padding: 10px 15px 10px 30px;
  text-decoration: none;
}

.nav-button {
    display: block;
    width: 100%;
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
    outline: none;
    color: #dddddd;
    padding: .6rem .9rem;
    text-decoration: none;
}

.nav-button.is-selected {
    background-color: #2196F3;
}

.sidebar-nav li.open:hover before {
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 100%;
}

.sidebar-nav .dropdown-menu {
  background-color: #222222;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  font-size: 20px;
  height: 65px;
  line-height: 44px;
}