/* main page structure */
html {
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.42857143;
    color: #ccc;
    background-color: #363636;
}

html, body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
}

h1 {
    color: #eee;
    font-weight: 700;
}

h2 {
    color: #aaa;
    font-weight: 500;
}

h3 {
    color: #ddd;
    font-weight: 300;
}

/* wrappers */
#wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    padding-left: 5rem;
    padding-bottom: 1.3rem;
    transition: all 0.5s ease;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
    position: relative
}

#page-content-wrapper {
    padding: 0px 0px;
    padding-top: 0px;
    margin-right: -5rem;
    position: absolute;
}

#main-content-wrapper {
    padding-left: 2.5rem;
}

/* main content */
.welcome-header {
    margin-top: 1em;
    margin-bottom: 1em;
    flex: 1 100%;
}

/*.getting-started {
    padding: 2rem 5rem;
    margin: 2.5rem;
}*/

.getting-started > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.homepage-utils > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* search-box */
.search-box {
    margin-top: 25px;
    position: relative;
    margin-bottom: 1.5rem;
}

.search-results {
    right: 0;
    display: block;
    padding: 0;
    overflow: hidden;
    font-size: .9rem;
}

.search-results:empty {
    display: none;
}

.search-results .dropdown-item:last-child {
    margin-bottom: .25rem;
}

.search-results .dropdown-item:first-child {
    margin-top: .25rem;
}

.search-results .dropdown-item {
    padding-right: .75rem;
    padding-left: .75rem;
    color: #333;
}

.search-results .no-results {
    padding: .75rem 1rem;
    color: #7a7a7a;
    text-align: center;
    white-space: normal;
}

/* buttons */
.btn {
    display: inline-block;
    font-weight: 500;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #2196F3;
    border-color: #2196F3;
}

.btn.active, .btn:focus, .btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: #2196F3;
    border-color: #2196F3;
}

.btn-lg {
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: .3rem;
}

/* footer stuff */
footer {
    margin-top: 1rem;
    font-size: .85rem;
    text-align: left;
    background-color: #2196F3;
    position: fixed;
    height: 1.3rem;
    width: 100%;
    bottom: 0;
    z-index: 1030;
    color: #fff;
}

footer li {/* main content @media styles */
    display: inline-block;
}

footer .container {
    margin: 0 1rem;
}

footer a, .navbar a {
    color:#333;
    font-weight: 500;
}

footer a {
    font-weight: 500;
}

footer a:hover {
    color: #0275d8;
    text-decoration: underline;
}