/* Sections */
section {
    padding-top: 0.5rem;
}

.section {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--color-accent);

    /* Hide */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;

    h3,
    p {
        color: var(--color);
    }
}

.section.is-shown {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
}

.section-wrapper {
    position: relative;
    max-width: 740px;
    margin: 0 auto;
    padding: 2rem 2rem 1rem 2rem;
    border-bottom: 1px solid var(--color-border);

    @media (min-width: 940px) {
        padding-top: 4rem;
    }
}

.section-icon {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 0.5em;
}

/* Segments */
.ui.attached.segment {
    border-color: $background !important; // FIXME(incomingstick): find away around this !important
}
