/**
 * NOTE(incomingstick): This file exists as a global variables file. All Sass variables used in the project should
 * be located here, so that all sass files may have access to them. This allows us to remain consistant throughout
 * the project. 
 */

// branding stuff and colors
// Color1 is the OpenRPG logo color
$color0: #201019;
$color1: #2196f3;
$color2: #7a7ea0;
$color3: #8779a0;
$color4: #655ea0;
$color5: #3770a0;
$color6: #355ba0;
$color7: #a2729e;
$color8: #80385c;
$color9: #3479c8;
$color10: #1a59a0;
$color11: #c8536f;
$color12: #c87fc8;
$color13: #bb7dc8;
$color14: #8184c8;
$color15: #e3ac28;
$color16: #cda869;
$color17: #9b703f;
$color18: #323537;
$color19: #464b50;
$color20: #838184;
$color21: #c3c3c3;

$background: $color0;
$foreground: $color21;
$logo-primary: $color1;
$text-primary: $color21;
$text-important: $color15;

// scrollbar stuff
$scrollbar-bg: $color0;
$scrollbar-fg: $color16;
$scrollbar-hover: $color17;

// titlebar stuff
$titlebar-bg: $color0;
$titlebar-fg: $color7;
$titlebar-height: 2.2rem;
$titlebar-pad-top: 0.5rem;
$titlebar-menu-bg: $color8;
$titlebar-menu-fg: #cccccc;
$titlebar-menu-item-hover: $color1;

// sidebar stuff
$sidebar-bg: $color0;
$sidebar-width: 4rem;
$icon-color: $color7;

// main content stuff
$main-content-padding: $sidebar-width / 4;

// character sheet stuff
$cs-section-bg: $color18;
$cs-boarder: $color8;
$cs-input-fg: $color15;
$cs-deathsuccess-checked: $color10;
$cs-deathfail-checked: $color11;
$cs-tab-height: 3rem;

// footer stuff
$footer-height: 1.6rem;
$footer-background: $color12;
$footer-foreground: $color18;
