@import 'variables';
@import 'sections';

textarea {
    font-size: 1rem;
    text-align: left;
    border-radius: 0.8333rem;
    padding: 0.8333rem;
    resize: none;
    overflow: hidden;
    height: 15em;
    width: 100%;
    color: $text-primary;
    background-color: $background;
}

input {
    color: $cs-input-fg;
    background-color: $background;

    &[type='text'] {
        color: $text-primary;
    }

    &[type='checkbox'] {
        cursor: pointer;
    }
}

div.box {
    margin-top: 0.8333rem;
}

#character-section {
    .ui {
        &.bottom.attached.segment.active.tab {
            overflow: auto;
            max-height: calc(100vh - #{$titlebar-height + $footer-height + $cs-tab-height + $main-content-padding});
        }
    }

    #character-tabs {
        .ui {
            &.attached.tabular.menu {
                border-color: $cs-boarder;
                width: calc(100% - #{$sidebar-width / 4});
                height: $cs-tab-height;

                a {
                    > svg {
                        font-size: 1rem;
                        margin-left: 0.75rem;
                        opacity: 0;
                    }

                    &.item {
                        color: $text-primary;
                    }

                    &.active {
                        background: $background;
                        border-color: $cs-boarder;

                        > svg {
                            opacity: 1;

                            &:hover,
                            :hover {
                                cursor: pointer;
                            }
                        }

                        &.item {
                            color: $text-primary;
                        }
                    }

                    &:hover {
                        > svg {
                            opacity: 1;

                            &:hover,
                            :hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

form.character-sheet {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    margin-bottom: 18px;
    overflow-x: hidden;

    section {
        padding-left: 0;
    }

    div.textblock {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;

        label {
            text-align: center;
            border: 1px solid $cs-boarder;
            border-top: 0;
            font-size: 0.8333rem;
            width: calc(100% - 20px - 2px);
            border-radius: 0 0 0.8333rem 0.8333rem;
            padding: 4px 0;
            font-weight: bold;
        }

        textarea {
            border: 1px solid $cs-boarder;
        }
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-image: none;
            display: block;
        }
    }

    ::-webkit-input-placeholder {
        color: #aaa;
    }

    ::-ms-input-placeholder {
        color: #aaa;
    }

    ::-ms-input-placeholder {
        color: #aaa;
    }

    ::-ms-input-placeholder {
        color: #aaa;
    }

    ::placeholder {
        color: #aaa;
    }

    label {
        text-transform: uppercase;
        font-size: 1rem;

        &[for='charName'] {
            padding-left: 0.5rem;
            color: $text-primary;
        }
    }

    header {
        display: flex;
        align-content: stretch;
        align-items: stretch;

        section.charName {
            border: 1px solid $cs-boarder;
            border-right: 0;
            border-radius: 0.8333rem 0 0 0.8333rem;
            padding: 5px 0;
            width: 30%;
            display: flex;
            flex-direction: column-reverse;
            bottom: 0;
            top: 0;
            margin: auto;

            input {
                padding: 0.5em;
                margin: 5px;
                border: 0;
            }

            input {
                padding: 0.5em;
                margin: 5px;
                border: 0;
            }
        }

        section.misc {
            width: 70%;
            border: 1px solid $cs-boarder;
            border-radius: 0.8333rem;
            padding-left: 1em;
            padding-right: 1em;

            ul {
                padding: 0.8333rem 0px 5px 0px;
                display: flex;
                flex-wrap: wrap;

                li {
                    width: 33.33333%;
                    display: flex;
                    flex-direction: column-reverse;

                    label {
                        margin-bottom: 5px;
                    }

                    input {
                        border: 0;
                        border-bottom: 1px solid $text-primary;
                    }
                }
            }
        }
    }

    main {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        div.label-container {
            position: relative;
            width: 100%;
            height: 1.75rem;
            margin-top: 6px;
            border: 1px solid $cs-boarder;
            border-left: 0;
            text-align: center;

            > label {
                -webkit-transform: translate(0%, 50%);
                transform: translate(0%, 50%);
                width: 100%;
                font-size: 0.85rem;
            }
        }

        > section {
            width: 32%;
            display: flex;
            flex-direction: column;
            margin: 0 1rem;

            section.attributes {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                div.scores {
                    width: 25%;
                    border-radius: 0.8333rem;
                    margin: 0.75rem;
                    padding-bottom: 5px;

                    label {
                        font-size: 8px;
                        font-weight: bold;
                    }

                    ul {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        height: 100%;

                        li {
                            height: 80px;
                            width: 70px;
                            background-color: $background;
                            border: 1px solid $cs-boarder;
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            border-radius: 0.8333rem;

                            input {
                                width: 100%;
                                padding: 0;
                                border: 0;
                            }

                            div.score {
                                input {
                                    text-align: center;
                                    font-size: 40px;
                                    padding: 2px 0px 0px 0px;
                                    background-color: $background;
                                }
                            }

                            div.modifier {
                                margin-top: 3px;

                                input {
                                    background-color: $background;
                                    width: 2rem;
                                    height: 1.6667rem;
                                    border: 1px solid $cs-boarder;
                                    border-radius: 1.3333rem;
                                    margin: -1px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }

                div.attr-applications {
                    width: 75%;
                    margin: 0.75rem;

                    div.inspiration {
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: flex-end;

                        input {
                            height: 2.8666rem;
                            width: 2.8666rem;
                            -webkit-appearance: none;
                            border: 1px solid $cs-boarder;
                            padding: 15px;
                            border-radius: 0.8333rem;
                        }
                    }

                    div.proficiencybonus {
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: flex-end;

                        input {
                            width: 2.8666rem;
                            height: 2.8666rem;
                            border: 1px solid $cs-boarder;
                            text-align: center;
                            border-radius: 0.8333rem;
                        }
                    }

                    div.list-section {
                        border: 1px solid $cs-boarder;
                        border-radius: 0.8333rem;
                        padding: 0.8333rem 5px;

                        div.label {
                            margin-top: 0.8333rem;
                            margin-bottom: 2.5px;
                            text-align: center;
                            text-transform: uppercase;
                            font-size: 0.8333rem;
                            font-weight: bold;
                        }

                        ul {
                            li {
                                display: flex;
                                align-items: center;

                                > * {
                                    margin-left: 5px;
                                }

                                label {
                                    text-transform: none;
                                    font-size: 0.85rem;
                                    text-align: left;
                                    order: 3;

                                    span.skill {
                                        color: #aaa;
                                    }
                                }

                                input[type='text'] {
                                    width: 2rem;
                                    font-size: 1rem;
                                    text-align: center;
                                    border: 0;
                                    border-bottom: 1px solid $cs-boarder;
                                    order: 2;
                                }

                                input[type='checkbox'] {
                                    -webkit-appearance: none;
                                    width: 0.8333rem;
                                    height: 0.8333rem;
                                    border: 1px solid $cs-boarder;
                                    border-radius: 0.8333rem;
                                    order: 1;
                                }

                                input[type='checkbox']:checked {
                                    background-color: $cs-boarder;
                                }
                            }
                        }
                    }
                }
            }

            div.passive-perception {
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-end;

                input {
                    width: 2.8666rem;
                    height: 2.8666rem;
                    text-align: center;
                    border: 1px solid $cs-boarder;
                    border-radius: 0.8333rem;
                }
            }
        }

        section.combat {
            display: flex;
            flex-wrap: wrap;

            > div {
                overflow: hidden;
            }

            > div.armorclass,
            > div.initiative,
            > div.speed {
                flex-basis: 33.333%;

                > div {
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;
                    margin-top: 0.8333rem;

                    label {
                        font-size: 0.5rem;
                        width: 50px;
                        border: 1px solid $cs-boarder;
                        border-top: 0;
                        background-color: $background;
                        text-align: center;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        border-radius: 0 0 0.8333rem 0.8333rem;
                    }

                    input {
                        height: 4.6667rem;
                        width: 4.6667rem;
                        border-radius: 0.8333rem;
                        border: 1px solid $cs-boarder;
                        text-align: center;
                        font-size: 2rem;
                    }
                }
            }

            > div.hp {
                flex-basis: 100%;

                > div.regular {
                    background-color: $background;
                    border: 1px solid $cs-boarder;
                    margin: 0.8333rem;
                    border-radius: 0.8333rem 0.8333rem 0 0;
                    padding: 0.3333rem;

                    > div.max {
                        display: flex;
                        justify-content: space-around;
                        align-items: baseline;

                        label {
                            font-size: 0.8333rem;
                            text-transform: none;
                            color: $text-primary;
                        }

                        input {
                            width: 40%;
                            border: 0;
                            border-bottom: 1px solid $text-primary;
                            font-size: 1rem;
                            text-align: center;
                        }
                    }

                    > div.current {
                        display: flex;
                        flex-direction: column-reverse;
                        background-color: $background;

                        label {
                            font-size: 0.8333rem;
                            padding-bottom: 5px;
                            text-align: center;
                            font-weight: bold;
                        }

                        input {
                            border: 0;
                            width: 100%;
                            padding: 1em 0;
                            font-size: 20px;
                            text-align: center;
                        }
                    }
                }

                > div.temporary {
                    margin: 0.8333rem;
                    margin-top: 0;
                    border: 1px solid $cs-boarder;
                    border-radius: 0 0 0.8333rem 0.8333rem;
                    display: flex;
                    flex-direction: column-reverse;
                    background-color: $background;

                    label {
                        font-size: 0.8333rem;
                        padding-bottom: 5px;
                        text-align: center;
                        font-weight: bold;
                    }

                    input {
                        padding: 1em 0;
                        font-size: 20px;
                        border: 0;
                        text-align: center;
                    }
                }
            }

            > div.hitdice {
                > div {
                    background-color: #fff;
                    margin: 0.8333rem;
                    border: 1px solid $cs-boarder;
                    border-radius: 0.8333rem;
                    display: flex;
                    flex-direction: column;
                    background-color: $background;

                    > div.total {
                        display: flex;
                        align-items: baseline;
                        justify-content: space-around;
                        padding: 5px 0;

                        label {
                            font-size: 0.8333rem;
                            color: #aaa;
                            margin: 0.25em;
                            text-transform: none;
                        }

                        input {
                            font-size: 1rem;
                            flex-grow: 1;
                            border: 0;
                            border-bottom: 1px solid $text-primary;
                            width: 50%;
                            margin-right: 0.25em;
                            padding: 0 0.25em;
                            text-align: center;
                        }
                    }

                    > div.remaining {
                        flex: 1;
                        display: flex;
                        flex-direction: column-reverse;

                        label {
                            text-align: center;
                            padding: 2px;
                            font-size: 0.8333rem;
                        }

                        input {
                            text-align: center;
                            border: 0;
                            flex: 1;
                        }
                    }
                }
            }

            > div.hitdice,
            > div.deathsaves {
                flex: 1 50%;
                height: 100px;

                > div {
                    height: 80px;
                    padding: 0.3333rem;
                }
            }

            > div.deathsaves {
                > div {
                    margin: 0.8333rem;
                    background: #fff;
                    border: 1px solid $cs-boarder;
                    border-radius: 0.8333rem;
                    display: flex;
                    flex-direction: column-reverse;
                    background-color: $background;

                    > div.label {
                        text-align: center;

                        label {
                            font-size: 0.8333rem;
                        }
                    }

                    > div.marks {
                        display: flex;
                        flex: 1;
                        flex-direction: column;
                        justify-content: center;

                        div.deathsuccesses,
                        div.deathfails {
                            display: flex;
                            align-items: center;

                            label {
                                font-size: 0.85rem;
                                text-align: right;
                                flex: 1 50%;
                            }
                        }
                    }

                    div.bubbles {
                        flex: 1 30%;
                        margin-left: 5px;

                        input[type='checkbox'] {
                            -webkit-appearance: none;
                            width: 0.8333rem;
                            height: 0.8333rem;
                            border: 1px solid $cs-boarder;
                            border-radius: 0.8333rem;
                            margin: 0 0.1rem 0 0.1rem;
                        }

                        input[type='checkbox']:checked {
                            &[name='deathsuccess'] {
                                background-color: $cs-deathsuccess-checked;
                                border: 1px solid $cs-deathsuccess-checked;
                            }

                            &[name='deathfail'] {
                                background-color: $cs-deathfail-checked;
                                border: 1px solid $cs-deathfail-checked;
                            }
                        }
                    }
                }
            }
        }

        section.attacksandspellcasting {
            border: 1px solid $cs-boarder;
            border-radius: 0.8333rem;
            margin-top: 0.8333rem;

            > div {
                margin: 0.8333rem;
                display: flex;
                flex-direction: column;

                > label {
                    order: 3;
                    text-align: center;
                }

                > table {
                    width: 100%;

                    th {
                        font-size: 0.8333rem;
                        color: $text-primary;
                    }

                    input {
                        width: calc(100% - 4px);
                        border: 1px solid $cs-boarder;
                        background-color: $background;
                        font-size: 0.8333rem;
                        padding: 3px;
                    }
                }

                textarea {
                    border: 0;
                    height: 16em;
                }
            }
        }

        section.equipment {
            border: 1px solid $cs-boarder;
            border-radius: 0.8333rem;
            margin-top: 0.8333rem;

            > div {
                padding: 0.8333rem;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                > div.money {
                    ul {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 100%;
                        margin-right: 2px;

                        > li {
                            display: flex;
                            align-items: center;

                            label {
                                border: 1px solid $cs-boarder;
                                border-radius: 0.8333rem 0 0 0.8333rem;
                                border-right: 0;
                                width: 20px;
                                font-size: 0.85rem;
                                text-align: center;
                                padding: 3px 0;
                            }

                            input {
                                border: 1px solid $cs-boarder;
                                border-radius: 0.8333rem;
                                width: 2.6667rem;
                                padding: 0.8333rem 3px;
                                font-size: 1rem;
                                text-align: center;
                            }
                        }
                    }
                }

                > label {
                    order: 3;
                    text-align: center;
                    flex: 100%;
                }

                > textarea {
                    flex: 1;
                    border: 0;
                    height: 15.4rem;
                    margin-left: 2px;
                }
            }
        }

        section.flavor {
            border-radius: 0.8333rem;

            div {
                background: $background;
                display: flex;
                flex-direction: column-reverse;
                padding: 5px;
                border: 1px solid $cs-boarder;

                label {
                    text-align: center;
                    font-size: 0.8333rem;
                    margin-top: 3px;
                }

                textarea {
                    border: 0;
                    border-radius: 0;
                    height: 4em;
                }
            }

            div:first-child {
                border-radius: 0.8333rem 0.8333rem 0 0;
            }

            div:not(:first-child) {
                margin-top: 0.8333rem;
            }

            div:last-child {
                border-radius: 0 0 0.8333rem 0.8333rem;
            }
        }

        section.labeled-textbox {
            padding: 0.8333rem 0;

            div {
                padding: 0.8333rem;
                border: 1px solid $cs-boarder;
                border-radius: 0.8333rem;
                display: flex;
                flex-direction: column-reverse;

                label {
                    text-align: center;
                }

                textarea {
                    border: 0;
                    padding: 5px;

                    &[name='otherprofs'] {
                        height: 19rem;
                    }

                    &[name='features'] {
                        height: 47rem;
                    }
                }
            }
        }
    }
}
