@import 'variables';
@import 'sections';

textarea {
    font-size: 12px;
    text-align: left;
    border-radius: 10px;
    padding: 10px;
    resize: none;
    overflow: hidden;
    height: 15em;
    width: 100%;
}

input[type='checkbox'] {
    cursor: pointer;
}

div.box {
    margin-top: 10px;
}

form.charSheet {
    width: 850px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    margin-bottom: 18px;

    section {
        padding-left: 0;
    }

    div.textblock {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;

        label {
            text-align: center;
            border: 1px solid black;
            border-top: 0;
            font-size: 10px;
            width: calc(100% - 20px - 2px);
            border-radius: 0 0 10px 10px;
            padding: 4px 0;
            font-weight: bold;
        }

        textarea {
            border: 1px solid black;
        }
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-image: none;
            display: block;
        }
    }

    ::-webkit-input-placeholder {
        color: #bbb;
    }

    :-ms-input-placeholder {
        color: #bbb;
    }

    :-ms-input-placeholder {
        color: #bbb;
    }

    ::-ms-input-placeholder {
        color: #bbb;
    }

    ::placeholder {
        color: #bbb;
    }

    label {
        text-transform: uppercase;
        font-size: 12px;
    }

    header {
        display: flex;
        align-content: stretch;
        align-items: stretch;

        section.charName {
            border: 1px solid black;
            border-right: 0;
            border-radius: 10px 0 0 10px;
            padding: 5px 0;
            background-color: #eee;
            width: 30%;
            display: flex;
            flex-direction: column-reverse;
            bottom: 0;
            top: 0;
            margin: auto;

            input {
                padding: 0.5em;
                margin: 5px;
                border: 0;
            }

            input {
                padding: 0.5em;
                margin: 5px;
                border: 0;
            }
        }

        section.misc {
            width: 70%;
            border: 1px solid black;
            border-radius: 10px;
            padding-left: 1em;
            padding-right: 1em;

            ul {
                padding: 10px 0px 5px 0px;
                display: flex;
                flex-wrap: wrap;

                li {
                    width: 33.33333%;
                    display: flex;
                    flex-direction: column-reverse;

                    label {
                        margin-bottom: 5px;
                    }

                    input {
                        border: 0;
                        border-bottom: 1px solid #ddd;
                    }
                }
            }
        }
    } 

    main {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        div.label-container {
            position: relative;
            width: 100%;
            height: 18px;
            margin-top: 6px;
            border: 1px solid black;
            border-left: 0;
            text-align: center;

            > label {
                position: absolute;
                left: 0;
                top: 1px;
                -webkit-transform: translate(0%, 50%);
                transform: translate(0%, 50%);
                width: 100%;
                font-size: 8px;
            }
        }

        > section {
            width: 32%;
            display: flex;
            flex-direction: column;

            section.attributes {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                div.scores {
                    width: 101px;
                    background-color: #bbb;
                    border-radius: 10px;
                    padding-bottom: 5px;

                    label {
                        font-size: 8px;
                        font-weight: bold;
                    }

                    ul {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        height: 100%;

                        li {
                            height: 80px;
                            width: 70px;
                            background-color: white;
                            border: 1px solid black;
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            border-radius: 10px;

                            input {
                                width: 100%;
                                padding: 0;
                                border: 0;
                            }

                            div.score {
                                input {
                                    text-align: center;
                                    font-size: 40px;
                                    padding: 2px 0px 0px 0px;
                                    background: white;
                                }
                            }

                            div.modifier {
                                margin-top: 3px;

                                input {
                                    background: white;
                                    width: 30px;
                                    height: 20px;
                                    border: 1px inset black;
                                    border-radius: 20px;
                                    margin: -1px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }

                div.attr-applications {
                    div.inspiration {
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: flex-end;

                        input {
                            -webkit-appearance: none;
                            border: 1px solid black;
                            padding: 15px;
                            border-radius: 10px;
                        }
                    }

                    div.proficiencybonus {
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: flex-end;

                        input {
                            width: 30px;
                            height: 28px;
                            border: 1px solid black;
                            text-align: center;
                            border-radius: 10px;
                        }
                    }

                    div.list-section {
                        border: 1px solid black;
                        border-radius: 10px;
                        padding: 10px 5px;

                        div.label {
                            margin-top: 10px;
                            margin-bottom: 2.5px;
                            text-align: center;
                            text-transform: uppercase;
                            font-size: 10px;
                            font-weight: bold;
                        }

                        ul {
                            li {
                                display: flex;
                                align-items: center;

                                > * {
                                    margin-left: 5px;
                                }

                                label {
                                    text-transform: none;
                                    font-size: 8px;
                                    text-align: left;
                                    order: 3;

                                    span.skill {
                                        color: #bbb;
                                    }
                                }

                                input[type='text'] {
                                    width: 30px;
                                    font-size: 12px;
                                    text-align: center;
                                    border: 0;
                                    border-bottom: 1px solid black;
                                    order: 2;
                                }

                                input[type='checkbox'] {
                                    -webkit-appearance: none;
                                    width: 10px;
                                    height: 10px;
                                    border: 1px solid black;
                                    border-radius: 10px;
                                    order: 1;
                                }

                                input[type='checkbox']:checked {
                                    background-color: black;
                                }
                            }
                        }
                    }
                }
            }

            div.passive-perception {
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-end;

                input {
                    width: 30px;
                    height: 28px;
                    text-align: center;
                    border: 1px solid black;
                    border-radius: 10px;
                }
            }

            div.otherprofs {
                textarea {
                    height: 26em;
                }
            }
        }

        section.combat {
            background-color: #eee;
            display: flex;
            flex-wrap: wrap;
            border-radius: 10px;

            > div {
                overflow: hidden;
            }

            > div.armorclass,
            > div.initiative,
            > div.speed {
                flex-basis: 33.333%;

                > div {
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;
                    margin-top: 10px;

                    label {
                        font-size: 8px;
                        width: 50px;
                        border: 1px solid black;
                        border-top: 0;
                        background-color: white;
                        text-align: center;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        border-radius: 0 0 10px 10px;
                    }

                    input {
                        height: 70px;
                        width: 70px;
                        border-radius: 10px;
                        border: 1px solid black;
                        text-align: center;
                        font-size: 30px;
                    }
                }
            }

            > div.hp {
                flex-basis: 100%;

                > div.regular {
                    background-color: white;
                    border: 1px solid black;
                    margin: 10px;
                    margin-bottom: 5px;
                    border-radius: 10px 10px 0 0;

                    > div.max {
                        display: flex;
                        justify-content: space-around;
                        align-items: baseline;

                        label {
                            font-size: 10px;
                            text-transform: none;
                            color: #bbb;
                        }

                        input {
                            width: 40%;
                            border: 0;
                            border-bottom: 1px solid #ddd;
                            font-size: 12px;
                            text-align: center;
                        }
                    }

                    > div.current {
                        display: flex;
                        flex-direction: column-reverse;

                        label {
                            font-size: 10px;
                            padding-bottom: 5px;
                            text-align: center;
                            font-weight: bold;
                        }

                        input {
                            border: 0;
                            width: 100%;
                            padding: 1em 0;
                            font-size: 20px;
                            text-align: center;
                        }
                    }

                    > div.temporary {
                        margin: 10px;
                        margin-top: 0;
                        border: 1px solid black;
                        border-radius: 0 0 10px 10px;
                        display: flex;
                        flex-direction: column-reverse;
                        background-color: white;

                        label {
                            font-size: 10px;
                            padding-bottom: 5px;
                            text-align: center;
                            font-weight: bold;
                        }

                        input {
                            padding: 1em 0;
                            font-size: 20px;
                            border: 0;
                            text-align: center;
                        }
                    }
                }
            }

            > div.hitdice {
                > div {
                    background-color: white;
                    margin: 10px;
                    border: 1px solid black;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;

                    > div.total {
                        display: flex;
                        align-items: baseline;
                        justify-content: space-around;
                        padding: 5px 0;

                        label {
                            font-size: 10px;
                            color: #bbb;
                            margin: 0.25em;
                            text-transform: none;
                        }

                        input {
                            font-size: 12px;
                            flex-grow: 1;
                            border: 0;
                            border-bottom: 1px solid #ddd;
                            width: 50%;
                            margin-right: 0.25em;
                            padding: 0 0.25em;
                            text-align: center;
                        }
                    }

                    > div.remaining {
                        flex: 1;
                        display: flex;
                        flex-direction: column-reverse;

                        label {
                            text-align: center;
                            padding: 2px;
                            font-size: 10px;
                        }

                        input {
                            text-align: center;
                            border: 0;
                            flex: 1;
                        }
                    }                
                }
            }

            > div.hitdice,
            > div.deathsaves {
                flex: 1 50%;
                height: 100px;

                > div {
                    height: 80px;
                }
            }

            > div.deathsaves {
                > div {
                    margin: 10px;
                    background: white;
                    border: 1px solid black;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column-reverse;

                    > div.label {
                        text-align: center;

                        label {
                            font-size: 10px;
                        }                    
                    }

                    > div.marks {
                        display: flex;
                        flex: 1;
                        flex-direction: column;
                        justify-content: center;

                        div.deathsuccesses,
                        div.deathfails {
                            display: flex;
                            align-items: center;

                            label {
                                font-size: 8px;
                                text-align: right;
                                flex: 1 50%;
                            }
                        }
                    }

                    div.bubbles {
                        flex: 1 40%;
                        margin-left: 5px;

                        input[type='checkbox'] {
                            -webkit-appearance: none;
                            width: 10px;
                            height: 10px;
                            border: 1px solid black;
                            border-radius: 10px;
                        }

                        input[type='checkbox']:checked {
                            background-color: black;
                        }
                    }
                }
            }
        }

        section.attacksandspellcasting {
            border: 1px solid black;
            border-radius: 10px;
            margin-top: 10px;

            > div {
                margin: 10px;
                display: flex;
                flex-direction: column;

                > label {
                    order: 3;
                    text-align: center;
                }

                > table {
                    width: 100%;

                    th {
                        font-size: 10px;
                        color: #ddd;
                    }

                    input {
                        width: calc(100% - 4px);
                        border: 0;
                        background-color: #eee;
                        font-size: 10px;
                        padding: 3px;
                    }
                }

                textarea {
                    border: 0;
                }            
            }
        }

        section.equipment {
            border: 1px solid black;
            border-radius: 10px;
            margin-top: 10px;

            > div {
                padding: 10px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                > div.money {
                    ul {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 100%;

                        > li {
                            display: flex;
                            align-items: center;

                            label {
                                border: 1px solid black;
                                border-radius: 10px 0 0 10px;
                                border-right: 0;
                                width: 20px;
                                font-size: 8px;
                                text-align: center;
                                padding: 3px 0;
                            }

                            input {
                                border: 1px solid black;
                                border-radius: 10px;
                                width: 40px;
                                padding: 10px 3px;
                                font-size: 12px;
                                text-align: center;
                            }
                        }
                    }
                }

                > label {
                    order: 3;
                    text-align: center;
                    flex: 100%;
                }

                > textarea {
                    flex: 1;
                    border: 0;
                    height: 15.4rem;
                }
            }
        }

        section.flavor {
            padding: 10px;
            background: #bbb;
            border-radius: 10px;

            div {
                background: white;
                display: flex;
                flex-direction: column-reverse;
                padding: 5px;
                border: 1px solid black;

                label {
                    text-align: center;
                    font-size: 10px;
                    margin-top: 3px;
                }

                textarea {
                    border: 0;
                    border-radius: 0;
                    height: 4em;
                }
            }

            div:first-child {
                border-radius: 10px 10px 0 0;
            }

            div:not(:first-child) {
                margin-top: 10px;
            }

            div:last-child {
                border-radius: 0 0 10px 10px;
            }
        }

        section.features {
            padding: 10px 0;

            div {
                padding: 10px;
                border: 1px solid black;
                border-radius: 10px;
                display: flex;
                flex-direction: column-reverse;

                label {
                    text-align: center;
                }

                textarea {
                    border: 0;
                    padding: 5px;
                    height: 51.1em;
                }
            }
        }
    }
}
