@import 'variables';

.ui.grid {
    min-height: 100%;
}

// hiding highlight/selection.
// from: https://github.com/electron/electron/issues/2538#issuecomment-133083181
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

input,
button,
textarea,
:focus {
    outline: none; // You should add some other style for :focus to help UX/a11y
}

a:not([draggable='true']),
img:not([draggable='true']) {
    -webkit-user-drag: none;
    user-drag: none; /* Technically not supported in Electron yet */
}

a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"] {
    -webkit-user-drag: auto;
    user-drag: auto; /* Technically not supported in Electron yet */
}

a.external-link {
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

/* main page structure */
html {
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    // Default Font Size
    font-size: 16px;
    // UHD-1
    @media screen and (min-width: 3840px) {
        font-size: 19px;
    }
    // WQHD
    @media screen and (min-width: 2560px) {
        font-size: 18px;
    }
    // HD 1080
    @media screen and (min-width: 1920px) {
        font-size: 17px;
    }
    // Large Monitors
    @media screen and (min-width: 1600px) {
        font-size: 15px;
    }
    // Small Laptops
    @media screen and (max-width: 1366px) {
        font-size: 14px;
    }
    // Tablet Landscape
    @media screen and (max-width: 1024px) {
        font-size: 13px;
    }
    // Tablet Portrait
    @media screen and (max-width: 854px) {
        font-size: 12px;
    }
    // Mobile Landscape
    @media screen and (max-width: 480px) {
        font-size: 7px;
    }
    // Mobile Portrait
    @media screen and (max-width: 352px) {
        font-size: 5px;
    }
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.42857143;
    color: #ccc;
    background-color: #363636;
}

html,
body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
}

h1 {
    color: #eee;
    font-weight: 700;
}

h2 {
    color: #aaa;
    font-weight: 500;
}

h3 {
    color: #ddd;
    font-weight: 300;
}

a {
    -webkit-user-drag: none;
}

#app {
    height: 100%;
    min-height: 100%;
    padding-top: 1%;
    overflow: auto;
    background-image: linear-gradient(rgba(51, 51, 51, 1), rgba(51, 51, 51, 1));
    background-size: cover;
    background-position: center center;
    background-color: $background;
}

.openrpg-logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.is-selected {
    background-color: $logo-primary;
    color: #fff;
}

.outline {
    border: 1px solid #f00;
}

/* Visually hidden, but will be read by screen readers */
.u-visible-to-screen-reader {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* wrappers */
#wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    min-height: 100%;
    height: auto !important;
    position: relative;
}

#main-content-wrapper {
    padding: $sidebar-width / 2;
    width: calc(100% - #{$sidebar-width});
    position: absolute;
    top: 0;
    left: $sidebar-width;
}

/* main content  */
.nav-tabs {
    border-bottom: 1px solid #666;

    .nav-item.show .nav-link,
    .nav-link.active {
        color: #eee;
        background-color: #666;
        border-color: #666;
    }
}

a.nav-link {
    color: #aaa;
}

.navbar a {
    color: $background;
    font-weight: 500;
}

/* search-box */
.search-box {
    margin-top: 25px;
    position: relative;
    margin-bottom: 1.5rem;
}

.search-results {
    right: 0;
    display: block;
    padding: 0;
    overflow: hidden;
    font-size: 0.9rem;

    .dropdown-item {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
        color: $background;
    }

    .dropdown-item:last-child {
        margin-bottom: 0.25rem;
    }

    .dropdown-item:first-child {
        margin-top: 0.25rem;
    }

    .no-results {
        padding: 0.75rem 1rem;
        color: #7a7a7a;
        text-align: center;
        white-space: normal;
    }
}

.search-results:empty {
    display: none;
}

/* buttons */
.ui.button.btn {
    display: inline-block;
    font-weight: 500;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: $logo-primary;
    border-color: $logo-primary;
}

.ui.button.btn.active,
.ui.button.btn:focus,
.ui.button.btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: $logo-primary;
    border-color: $logo-primary;
}

.ui.button.btn-lg {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}

.ui.button.btn-sm {
    padding: 0.25rem 0.75rem;
    font-size: 0.85rem;
    border-radius: 0.2rem;
}

.ui.button.btn-fill {
    width: 100%;
    height: 100%;
}

.ui.button.btn-rect {
    border-radius: 0;
}

/* tabs */
.ui.tab {
    background: $background;
}

/* footer stuff */
footer {
    font-size: 1rem;
    text-align: left;
    background-color: $logo-primary;
    position: fixed;
    height: $footer-height;
    bottom: 0;
    width: 100%;
    z-index: 1030;
    color: #fff;

    li {
        display: inline-block;
    }

    .container {
        margin: 0 1rem;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }

    a {
        color: $background;
        font-weight: 500;
    }
}

footer a:hover {
    color: $logo-primary;
    text-decoration: underline;
}
