$logo-color: #2196f3;

#app {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover;
  background-position: center center;
}

.openrpg-logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.ui.grid {
  min-height: 100%;
}

// hiding highlight/selection.
// from: https://github.com/electron/electron/issues/2538#issuecomment-133083181
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

input,
button,
textarea,
:focus {
  outline: none; // You should add some other style for :focus to help UX/a11y
}

a:not([draggable='true']),
img:not([draggable='true']) {
  -webkit-user-drag: none;
  user-drag: none; /* Technically not supported in Electron yet */
}

a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"] {
  -webkit-user-drag: auto;
  user-drag: auto; /* Technically not supported in Electron yet */
}

a.external-link {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
