@import 'variables';

.modals {
    &.dimmer {
        &.visible {
            padding: $modal-padding;
        }

        .ui {
            &.scrolling {
                &.modal {
                    margin: $modal-margin auto !important;
                }
            }

            &.modal {
                border-radius: 50%;
                background: none;

                // &.visible {
                //     margin: $modal-margin auto;
                // }

                .header,
                .content,
                .actions {
                    background: $background;
                    border: none;
                }

                .header {
                    color: #fff;
                }

                .close {
                    color: #fff;
                    top: 1.0535rem;
                    right: 1rem;

                    &::before,
                    :hover {
                        cursor: pointer;
                        color: $logo-primary;
                    }
                }
            }
        }
    }
}
