@import 'variables';

/* Open nav stuff */
.nav .open > a {
    background-color: transparent;
}

.nav .open > a:hover {
    background-color: transparent;
}

.nav .open > a:focus {
    background-color: transparent;
}

.navbar {
    padding: 0;
}

/* Wrappers */
#sidebar-wrapper {
    background: #1a1a1a;
    min-height: calc(100vh - #{$footer-height} + 0.3rem);
    overflow-x: hidden;
    overflow-y: auto;
    width: $sidebar-width;
    position: fixed;
    top: 0;
    left: 0;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

/* Sidebar nav styles */
.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 1px;
    width: 3rem;
}

.ui.vertical.tabular.menu {
    .item.nav-button {
        display: block;
        width: 100%;
        font: inherit;
        color: inherit;
        border: none;
        background-color: transparent;
        outline: none;
        color: #ddd;
        padding: 1.3rem 1rem;
        text-decoration: none;

        > svg {
            display: block;
            margin: 0 auto;
        }
    }

    .active.item.nav-button {
        background-color: #2196f3;
        color: #fff;
        border-radius: 0 !important;
    }
}
