@import 'variables';

#sidebar-wrapper {
    padding: 0;
    background: $sidebar-bg;
    min-height: calc(100vh - #{$footer-height} + 0.3rem);
    overflow: hidden;
    width: $sidebar-width;
    position: fixed;
    top: $titlebar-height;
    left: 0;
}

/* Sidebar nav styles */
.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 1px;
    width: 3rem;
}

.ui.vertical.tabular.menu {
    .item.nav-button {
        display: block;
        width: 100%;
        font: inherit;
        color: inherit;
        border: none;
        background-color: transparent;
        outline: none;
        color: $icon-color;
        padding: 0.8rem;
        margin-bottom: 0.7rem !important;
        text-decoration: none;

        > svg {
            display: block;
            margin: 0 auto;
        }
    }

    .active.item.nav-button {
        background-color: #2196f3;
        color: #fff;
        border-radius: 0 !important;
    }
}
