.slider {
    // overflow-x: hidden;
    top: 0;
    left: 0;
    display: flex;
    animation-timing-function: ease-in;
    transition: transform 0.8s ease-in-out;

    .slider-item {
        margin-right: auto;
        margin-left: auto;
        flex: 1;
        min-width: 100%;
        position: relative;
    }
}

.ui {
    &.button {
        &.prev {
            margin: 0 0.5rem;
        }

        &.next {
            margin: 0 0.5rem;
            float: right;
        }
    }
}
